/* .bg-image{
    background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-james-wheeler-https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-james-wheeler-417074.jpg&fm=jpg.jpg&fm=jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
} */

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  /* .container {
    position: relative;
  }
  
  .black-box {
    position: relative;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
  }
  
  .gray-box {
    position: absolute;
    background: lightgray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
  }
  
  .green-box {
    position: absolute;
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
  } */

  /* div {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: auto;
  } */

  /* img {
    float: none;
  } */

  /* .nav {
    background-color: yellow; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  } */
  /* .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  } */
/* 
  div p {
    background-color: yellow;
  }

  div > p1 {
    background-color: blue;
  }

  div + p {
    background-color: red;
  }
   */

   div ~ p {
    background-color: red;
  }